{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>cursach</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/dh-navbar-inverse.css">
    <link rel="stylesheet" href="assets/css/Login-Red.css">
    <link rel="stylesheet" href="{% static 'main/css/nav_backgr.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/form-login.css' %}">
</head>

<body>
    <div class="row mh-100vh" style="background-size: cover;position: fixed;display: flex;overflow: visible;">
        <div class="col" style="padding-left: 0px;"><img src="static/main/img/login-fon.png" style="margin-left: 10px;"></div>
    </div>
    <nav class="navbar navbar-light navbar-expand-md navigation-clean navbar-inverse navbar-fixed-top" style="height: 85.775px;">
        <div class="container">
            <div><a class="navbar-brand" style="padding:0px;margin-left:0px;height:78px;" href="{% url 'login' %}"> <img src="static/main/img/logo.png" width="239" height="239" style="height: 171.95px;margin-bottom: 22px;padding-left: 0px;margin-left: -17px;"></a><a href="#"></a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button></div>
            <h6 style="padding-bottom: 0px;margin-bottom: 34px;margin-top: 22px;padding-top: 8px;"></h6>
            <h1 style="margin-right: -126px;margin-left: -42px;">Parking for you</h1>
            <div class="collapse navbar-collapse" id="navcol-1" style="width: 150.05px;margin-left: 249px;padding-left: 0px;margin-bottom: 14px;">
                <ul class="navbar-nav ms-auto" style="margin-top:13px;">
                    <li class="nav-item"></li>
                    <li class="nav-item"><a class="nav-link" uk-scroll="offset:100" href="{% url 'about' %}">О нас</a></li>
                    <li class="nav-item" style="margin-left: 0px;"><a class="nav-link" uk-scroll="offset:100" href="{% url 'login' %}">Войти</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <form method="post" id="form" style="font-family: Quicksand, sans-serif;background-color: rgba(44,40,52,0.9);width: 320px;padding: 40px;">
        {% csrf_token %}

        <h1 id="head" style="color:  #dfe8ee;">Регистрация</h1>
        <div><img id="image" class="rounded img-fluid" style="width: auto;height: auto;margin-left: 40px;" src="static/main/img/geely.png" /></div>

        <div class="form-inputs">
            {{ user_form }}
        </div>

        <div class="form-group mb-3"><button class="btn" type="submit" style="width: 100%;height: 100%;margin-bottom: 10px;background-color: rgb(171,170,123);">Зарегистрироваться</button> </div>
    </form>
{#    <script src="assets/bootstrap/js/bootstrap.min.js"></script>#}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>

</html>